body
{
  background-color: #ffc;
  font-family: arial, helvetica;
}

input[type="text"]
{
  width: 200px;
}

#contentWrap
{
  display: none;
}

#chatWrap
{
  float: left;
  border: 1px #000 solid;
}

#chat
{
  height: 500px;
}

.message-sender
{
  font-size: 75%;
  color: #aaa;
  font-style: italic;
  padding: 0 0 0 5px;
}

#users
{
  float: left;
}
