body
{
  background-color: #ffc;
  font-family: arial, helvetica;
}

input[type="text"]
{
  width: 200px;
}

#contentWrap
{
  display: none;
}

#usernameIndicator
{
  font-size: 32px;
}

#chatWrap
{
  float: left;
  /*border: 1px #000 solid;*/
  background-color: #ffe;
  padding: 10px;
}

#chat
{
  height: 500px;
}

.whispered-message
{
  color: #00f !important;
}

.message-sender
{
  font-size: 75%;
  color: #aaa;
  font-style: italic;
  padding: 0 0 0 5px;
}

#users
{
  float: left;
}
